html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

:root {
    --primary: #4717f7;
    --secondary: #130e20;
    --accent: #a43acb;
    --background: #0e0a18;
    --white: #ffffff;
    --black: #000000;
    --text: #e9dfe0;
}

body {
    /* background-color: #191919; */
    background-color: var(--background);
    color: var(--text);
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.container {
    width: 120rem;
    max-width: 90%;
    margin: 0 auto;
}

.searcher {
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    border: 2px solid var(--primary);
    border-radius: 2.5rem;
    background: linear-gradient(120deg, var(--primbuttn), var(--accent));
    color: var(--text);
}


.searcher:placeholder-shown {
    padding-left: 5rem;
}

.searcher:not(:placeholder-shown) {
    padding-left: 5rem;
}


.searcher_form {
    position: relative;
}

.searcher_icon {
    position: absolute;
    bottom: 30%;
    left: 2rem;
    color: var(--accent);
}



.results {
    position: absolute;
    z-index: 5;
}

.result {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    background-color: var(--background);
}

.result:nth-of-type(2n) {
    background-color: var(--secondary);
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.weather_today {
    font-size: 5rem;
    font-weight: 900;
}

.weather_weather {
    font-weight: 700;
    font-size: 4rem;
    color: var(--accent);
}

.weather_name {
    font-size: 3rem;
}

.weather_icon_today {
    width: 5rem;
}

.weather_hourly {
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary);
    border-radius: 2.5rem;

}

.weather_weather_hourly {
    color: var(--accent);
    font-weight: 700;
}

.weather_icon_hourly {
    width: 3rem;
}

@media(max-width: 768px) {
    .weather_hourly {
        flex-direction: column;
        align-items: center;
    }

    .weather_hourly_card {
        border-bottom: 1px solid var(--white);
    }

    .weather_hourly_card:last-of-type {
        border-bottom: none;
    }
}